[DISTANCES]
% left_bin_edges=(0.0, 0.0), bin_widths=(0.01, 0.01)
x_start = 0.5
x_stop = 1.5
x_num = 3
y_start = 0.5
y_stop = 1.5
y_num = 3
ax_xdim = 0.0,2.0
ax_ydim = 0.0,2.0
xax_label = "distance WC [nm]"
yax_label = "distance HG [nm]"

[THETA]
% left_bin_edges=(0.2, -180.0), bin_widths=(0.01, 0.01)
x_start = 0.4
x_stop = 1.0
x_num = 4
y_start = -180
y_stop = 0
y_num = 7
ax_xdim = 0.2,1.2
ax_ydim = -180,0
xax_label = "lambda [rad]"
yax_label = "theta [deg]"

[PHI]
% left_bin_edges=(0.2, -180), bin_widths=(0.01, 0.01)
x_start = 0.4
x_stop = 1.0
x_num = 4
y_start = -180
y_stop = 180
y_num = 9
ax_xdim = 0.2,1.2
ax_ydim = -180,180
xax_label = "lambda [rad]"
yax_label = "phi [deg]"
